<link href="~/CacheFiles/css/404page.css" rel="stylesheet" />
@*<style>
body { 
  background-color: #007aff; 
  color: #fff;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  direction:rtl !important;
}

</style>*@

@*<div class="error404" style="text-align:center">
    <h1>404</h1>
    <div >
        <p>صفحه مورد نظر یافت نشد !!!</p>
        <a class="button" href="/"><i class="icon-home"></i>صفحه اصلی سایت</a>
    </div>
</div>*@


 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>404</div>
            <hr>
            <div class='_1'>صفحه مورد</div>
            <div class='_2'>یافت نشد!!</div>
            <a class='btn' href='/'>صفحه اصلی سایت</a>
        </div>